<a href="https://colab.research.google.com/github/bharti0204/Hackathon_Python/blob/main/data-models-databases/homework/Homework%20Assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 1: Promoting Evening Products to Drive Incremental Revenue at Instacart

Your team has been brought to work with the merchandising team at Instacart.  The problem: early evening hours have delivery / driver availability but the number of orders falls off in the evening hours.  
&nbsp;   
We need to determine which products are being sold in the evening 6PM+ (18-23 in order_hour_of_day) hours so that the team can create new promotions.  To avoid developing a list of niche products we'd like to restrict our analysis to products that are ordered at least 5000 times.    
&nbsp;  

The merchandising team has the option of sending out emails or featuring products to shoppers on site, which do you recommend will be more effective in meeting the goal.  Feel free to call out additional data that would be helpful in evaluating the opportunity.  
&nbsp;  
All the data you need is stored in the redshift database.  Please update the code in each code cell to build to the final list of products.  
&nbsp;  
In the last markdown cell, please discuss your key findings and what next steps and data should be gathered in order to determine how the team should proceed to evaluate the opportunity.  
&nbsp;  
Please limit your analysis to 250 words.

# Setting up the environment

In [4]:
#@title installs for sqlalchemy and sqlmagic
!pip install sqlalchemy-redshift --quiet
!pip install redshift_connector --quiet
!pip install ipython-sql --quiet

     |████████████████████████████████| 94 kB 3.0 MB/s
     |████████████████████████████████| 6.4 MB 46.2 MB/s
     |████████████████████████████████| 97 kB 6.1 MB/s
     |████████████████████████████████| 503 kB 76.8 MB/s
     |████████████████████████████████| 131 kB 49.4 MB/s
     |████████████████████████████████| 8.5 MB 47.8 MB/s
     |████████████████████████████████| 79 kB 7.2 MB/s
     |████████████████████████████████| 138 kB 79.2 MB/s
     |████████████████████████████████| 127 kB 75.7 MB/s
     |████████████████████████████████| 104 kB 76.5 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

In [5]:
#@title standard imports - we'll use in most EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from datetime import datetime, timedelta
from dateutil.parser import parse
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [6]:
#@title setting up sql connection and sql magic, unique to this lab

import getpass
import sqlalchemy as sa
from sqlalchemy.engine.url import URL
from sqlalchemy import orm as sa_orm

connect_to_db = URL.create(
drivername='redshift+redshift_connector',     
host='mbai417-redshift.cuvtmrb8eogw.us-west-2.redshift.amazonaws.com',     
port=5439,  
database='dev',  
username='ro_user',         #username should not be hard coded either
password=getpass.getpass()  #please don't put passwords into code
)

engine = sa.create_engine(connect_to_db)
%reload_ext sql
%sql $connect_to_db

··········

'Connected: ro_user@dev'

# Determining evening products

## Show the number of orders by hour of day

In [10]:
%%sql
Select order_hour_of_day, COUNT(order_id) from orders
group by order_hour_of_day
order by order_hour_of_day

 * redshift+redshift_connector://ro_user:***@mbai417-redshift.cuvtmrb8eogw.us-west-2.redshift.amazonaws.com:5439/dev
Done.

[(0, 22758),
 (1, 12398),
 (2, 7539),
 (3, 5474),
 (4, 5527),
 (5, 9569),
 (6, 30529),
 (7, 91868),
 (8, 178201),
 (9, 257812),
 (10, 288418),
 (11, 284728),
 (12, 272841),
 (13, 277999),
 (14, 283042),
 (15, 283639),
 (16, 272553),
 (17, 228795),
 (18, 182912),
 (19, 140569),
 (20, 104292),
 (21, 78109),
 (22, 61468),
 (23, 40043)]

## Determine the number of products ordered by hour of day

In [ ]:
%%sql

## Calculate the basket size (# products / # orders) by hour of day

In [ ]:
%%sql

## Find the most commonly ordered products

In [ ]:
%%sql

## Find the most commonly ordered products in the evening hours (18-23)

In [ ]:
%%sql

## Calculate products that have the highest percentage of sales in the evening hours

In [ ]:
%%sql

# Final analysis
In the markdown cell below summarize your findings.  Which products have the highest proportion of sales in evening hours?  Should the merchandising team focus on email or on-site featuring to drive incremental orders.  What additional data would you collect to evaluate the opportunity? Please limit your response to 250 words (+/-)

Summary here